<div class="cock-index-banner">
  <%= link_to "No26", root_path, class: "home-link" %>
  <span class="art">Cocktails</span>
</div>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#E4C7CE" fill-opacity="1" d="M0,320L1440,96L1440,0L0,0Z"></path></svg>

<!-- old cards -->
<div class="container">
  <div class="cards rounded card-img-top">
  <% @cocktails.each do |cocktail| %>
    <div class="card text-center" style="width: 19rem;">
      <%= cl_image_tag cocktail.photo.key, width: 302, height: 200, crop: :fill %>
        <div class="card-body">
          <h5 class="card-title"><%= link_to cocktail.name.capitalize, cocktail_path(cocktail) %> </h5>
         </div>
    </div>
  <% end %>
</div>
<!-- old cards end -->

  <h3>Can't See Your Favourite Cocktail?</h3>
  <%= link_to "ðŸ¹ Add YoursðŸ¹", new_cocktail_path %>

</div>
