<div class="cock-index-banner">
  <%= link_to "No26", root_path, class: "home-link" %>
  <span class="art">Cocktails</span>
  <div class="banner-text">
    <p>Check out best recipes. Can't see your favourite tipple on our list? Add it below!</p>
    <button id="add-cocktail">Add Cocktail</button>
  </div>
</div>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#E4C7CE" fill-opacity="1" d="M0,320L1440,96L1440,0L0,0Z"></path></svg>

<div class="index-container">
  <div class="cocktail-cards">
    <% @cocktails.each do |cocktail| %>
      <div class="card-content">
        <%= cl_image_tag cocktail.photo.key, width: 342, height: 330, crop: :fill, class: "cocktail-img" %>
          <div class="card-text">
            <h5 class="card-title"><%= link_to cocktail.name.capitalize, cocktail_path(cocktail) %> </h5>
           </div>
      </div>
    <% end %>
  </div>
</div>

<a href="add-cocktail">Add Cocktail</a>
<h3 class="marg" src="add-cocktail">Can't See Your Favourite Cocktail?</h3>
<%= link_to "ðŸ¹ Add YoursðŸ¹", new_cocktail_path %>
