<div class="new-index-banner">
  <div class="banner-content">
    <span class="art-new">Add a Cocktail...</span>
  </div>
</div>

<div class="new-cocktail-form">
  <%= simple_form_for @cocktail do |f| %>
    <%= f.text_field :name, placeholder: "Aperol Spritz / Negroni ...", required: true  %>
     <%= f.input :photo, as: :file, label: false %>
    <%= f.submit "Add Cocktail", class: "add-button"%>
  <% end %>
</div>
