.cock-index-banner {
  width: 100%;
  background: $dark-green;
  height: 450px;
  margin-bottom: 60px;
  padding: 50px;
}

.art {
  font-family: 'Montserrat', sans-serif;
  font-size: 6.25rem;
  letter-spacing: 0.1em;
  opacity: 0.8;
  -webkit-text-fill-color: transparent;
  text-shadow:
            8px 8px $peachy-orange,
            20px 20px #1f1f1f;
}

.banner-text {
  margin-top: 30px;
  text-align: center;
  font-family: "Work Sans", "Helvetica", sans-serif;
  font-size: 20px;
  letter-spacing: 1.5;
  color: $dark-green;
    p {
      color: #F4F4F4;
      margin-bottom: 35px;
    }
}

.new-button {
  background: $peachy-orange;
  color: white;
  padding: 8px 10px;
  border-radius: 8px;
  margin-top: 14px;
  &:hover {
    text-decoration: none;
    color: white;
    opacity: 0.8;
  }
}

.index-container {
  margin-top: 20px;
}

.cocktail-img {
  background-size: cover;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  position: relative;
  top: 0;
  transition: top ease 0.5s;
  &:hover {
    top: -10px;
  }
}

.cocktail-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  flex-wrap: wrap;
}

.card-content {
  margin: 25px;
}

.card-text {
  background: $peachy-orange;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  a {
    text-decoration: none;
  }
    &:hover {
      opacity: 0.9;
    }
}

.card-title {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  margin-top: 12px;
  padding: 10px;
  a {
    color: $dark-green;
    letter-spacing: 0.1em;
  }
}

.marg {
  margin-top: 500px;
}

@media (max-width: 720px) {
  .home-link {
    font-size: 20px;
  }
  .art {
    font-size: 3rem;
    top: 12%;
    margin-bottom: 30px;
  }

  .banner-text {
    margin-top: 57px;
  }

  .banner-text p {
    font-size: 1rem;
    margin: 40px 0;
  }

  .cards {
    grid-template-columns: 1fr;
  }
  .cocktail-cards {
    flex-direction: column;
  }
  .cocktail-img {
    width: 280px;
    height: 180px;
  }
  .card-title {
    padding: 6px;
    font-size: 1rem;
  }
}
