.cock-index-banner {
  width: 100%;
  background: $lilac;
  height: 280px;
  margin: 0;
}

.art {
  font-family: 'Montserrat', sans-serif;
  font-size: 120px;
  letter-spacing: 0.1em;
  -webkit-text-fill-color: transparent;
  text-shadow:
            8px 8px $dark-green,
            20px 20px #1f1f1f;
}

.banner-text {
  position: absolute;
  top: 14%;
  left: 24%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Work Sans", "Helvetica", sans-serif;
  font-size: 20px;
  letter-spacing: 1.5;
  color: $dark-green;
}

.new-button {
  background: $peachy-orange;
  color: white;
  padding: 8px 10px;
  border-radius: 8px;
  margin-top: 14px;
  &:hover {
    text-decoration: none;
    color: white;
    opacity: 0.8;
  }
}

.index-container {
  margin-top: 20px;
}

.cocktail-img {
  background-size: cover;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  position: relative;
  top: 0;
  transition: top ease 0.5s;
  &:hover {
    top: -10px;
  }
}

.cocktail-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  flex-wrap: wrap;
}

.card-content {
  margin: 25px;
}

.card-text {
  background: $peachy-orange;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  a {
    text-decoration: none;
  }
    &:hover {
      opacity: 0.9;
    }
}

.card-title {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  margin-top: 12px;
  padding: 10px;
  a {
    color: $dark-green;
    letter-spacing: 0.1em;
  }
}

.marg {
  margin-top: 500px;
}

// Media queries

@media (max-width: 720px) {
  .home-link {
    font-size: 20px;
  }
  .art {
    font-size: 40px;
    top: 12%;
    text-shadow:
            8px 8px $dark-green,
            12px 10px #1f1f1f;
  }
  .banner-text {
    left: 14%;
    align-items: left;
    p {
      font-size: 14px;
      max-width: 260px;
    }
    a {
      font-size: 12px;
      margin-top: 5px;
    }
  }
  .cards {
    grid-template-columns: 1fr;
  }
  .cocktail-cards {
    flex-direction: column;
  }
  .cocktail-img {
    width: 280px;
    height: 180px;
  }
  .card-title {
    padding: 6px;
    font-size: 1rem;
  }
}
