.home-link {
  font-size: 1.5rem;
  padding: 8px 0 0 16px;
  color: $dark-green;
  font-weight: bold;
  display:inline-block;
  &:hover {
    text-decoration: none;
    color: $dark-green;
    opacity: 0.9;
  }
}

.cock-index-banner {
  width: 100%;
  background: $lilac;
  height: 200px;
  margin: 0;
}

.art {
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 120px;
  letter-spacing: 0.1em;
  -webkit-text-fill-color: transparent;
  text-shadow:
            8px 8px $dark-green,
            20px 20px #1f1f1f;
}

.banner-text {
  position: absolute;
  top: 34%;
  left: 28%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Work Sans", "Helvetica", sans-serif;
}

.index-container {
  margin-top: 60px;
}

.cocktail-img {
  background-size: cover;
  object-fit: cover;
  border-radius: 8px;
}

.cocktail-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  flex-wrap: wrap;
}

.card-content {
  margin: 25px;
}

.card-text {
  background: $peachy-orange;
  border-radius: 8px;
}

.card-title {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  margin-top: 12px;
  padding: 10px;
  a {
    color: $dark-green;
    letter-spacing: 0.1em;
  }
}

.marg {
  margin-top: 500px;
}


// Media queries
@media (max-width: 720px) {
  .home-link {
    font-size: 22px;
  }

  .art {
    font-size: 38px;
    top: 12%;
    text-shadow:
            8px 8px $dark-green,
            12px 10px #1f1f1f;
  }

  .cards {
    grid-template-columns: 1fr;
  }

  .cocktail-cards {
    flex-direction: column;
  }

  .cocktail-img {
    width: 280px;
    height: 180px;
  }

  .card-title {
    padding: 6px;
  }

}
