// Specific CSS for your home-page


* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: "Nunito", sans-serif;
  max-width: 100%;
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.main-page-container {
  background: $dark-green;
}

h1 {
  font-weight: 100;
  font-size: 3rem;
  color: $peachy-orange;
  height: 400px;
  width: 400px;
}

.main-heading {
  border: 3px solid $peachy-orange;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
}

.main-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  font-weight: 100;
  margin-top: 8px;
}

#main-navbar {
  font-weight: 100;
  background-color: $dark-green;
}

#main-navbar .nav-link {
  color: white;
}

#main-navbar .nav-link:hover {
  color: $peachy-orange;
}

#main-navbar .navbar-brand {
  color: $peachy-orange;
  font-size: 1.5rem;
}

.nav-item {
  padding-top: -3px;
}

.site-info {
  color: $lilac;
}

.lead {
  font-weight: 100;
  font-size: 1.125rem;
  line-height: 2;
}

.content {
  margin-top: 80px;
}

// Media queries

@media (max-width: 720px) {

  .lead {
  font-size: 1rem;
  margin-bottom: 60px;
  }

  .footer-copyright {
    font-size: 12px;
  }

  .site-info {
    margin: 40px 0;
  }

  i {
    margin-bottom: 30px;
  }
}


@media (max-width: 990px) {
  .main-header {
    margin-top: 100px;
    margin-bottom: 50px;
  }

  .martini-section {
    display: flex;
    justify-content: center;
  }
}







