// Specific CSS for your home-page


* {
  box-sizing: border-box;
}

body {
  background-color: #223B41;
  font-family: "Nunito", sans-serif;
}

h1 {
  font-weight: 100;
  font-size: 3rem;
}

h2 {
  font-weight: 100;
  margin-top: 8px;
}

#main-navbar {
  font-weight: 100;
  background-color: #223B41;
}

#main-navbar .nav-link {
  color: white;
}

#main-navbar .nav-link:hover {
  color: #F8A173;
}

#main-navbar .navbar-brand {
  color: #F8A173;
  font-size: 1.5rem;
}

.nav-item {
  padding-top: -3px;
}

.site-info {
  color: #E4C7CE;
}

.lead {
  font-weight: 100;
  font-size: 1.125rem;
  line-height: 2;
}

.content {
  margin-top: 60px;
}


// Footer

.footer {
  background: #223B41;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}












