.new-index-banner {
  width: 100%;
  background: $dark-green;
  height: 260px;
  padding-top: 30px;
}

.art-new {
  font-family: 'Montserrat', sans-serif;
  font-size: 60px;
  letter-spacing: 0.1em;
  -webkit-text-fill-color: transparent;
  text-shadow:
            8px 8px $lilac,
            20px 20px #000;
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.new-cocktail-form {
  background-image: url(https://images.unsplash.com/photo-1583747073850-2b4f2c355b06?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=675&q=80);
  background-size: cover;
  object-fit: cover;
  width: 37%;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 30px;
  border: 5px solid $lilac;
  height: 300px;
  border-radius: 30px;
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.12);
  display: flex;
  justify-content: center;
  align-items: center;
  input {
    color: $dark-green;
    width: 100%;
    margin-bottom: 18px;
  }
}

.new-cocktail-form {
  padding: 40px;
}

.add-button {
  background: $peachy-orange;
  width: 100%;
  color: $dark-green;
  border: 0px;
  padding: 4px 6px;
  border-radius: 4px;
    &:hover {
      opacity: 0.8;
    }
}

@media (max-width: 720px) {
  .art-new {
    font-size: 38px;
    padding: 20px;
    text-align: center;
    margin-top: 30px;
  }
  .new-cocktail-form {
    width: 80%;
    height: 520px;
    align-items: flex-start;
  }
}
