.new-index-banner {
  width: 100%;
  background: $dark-green;
  height: 275px;
}

#lilac-link {
  color: $lilac;
}

.link {
  margin-left: 8px;
  &:hover {
    text-decoration: none;
    opacity: 0.7;
  }
}

.art-new {
  font-family: 'Montserrat', sans-serif;
  font-size: 60px;
  letter-spacing: 0.1em;
  -webkit-text-fill-color: transparent;
  text-shadow:
            8px 8px $lilac,
            20px 20px #000;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.new-cocktail-form {
  // background: $lilac;
  // background-image: linear-gradient(to right, $lilac , $peachy-orange);
  width: 37%;
  margin: 0 auto;
  margin-top: 30px;
  padding: 30px;
  border: 3px solid $lilac;
  border-radius: 30px;
  input {
    color: red;
    label {
      color: red;
    }
  }
}

.label {
  color: red;
}

.add-button {
  background: black;
  color: white;
}
