<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/b-lauren" target="_blank"><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/rebecca-ross-6a228512a/" target="_blank"><i class="fab fa-linkedin"></i></a>
    <a href="https://www.instagram.com/rebecca_codes/" target="_blank"><i class="fab fa-instagram"></i></a>
  </div>
  <div class="footer-copyright">
    <span>< Rebecca Ross ></span>
   </div>
</div>
